doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title  AccuWatt
        if env.NODE_ENV === 'production'
            link(rel='stylesheet', href=src = assetPath('/build/css/front.css'))
    body
        #main
        script(src=assetPath('/build/js/front.js'))
