.language-select {
  white-space: nowrap;
  .language-select-field {
    vertical-align: middle;
  }
  .global-icon {
    font-size: 18px;
    margin-left: 10px;
    color: lightGrey;
    vertical-align: middle;
  }
}